@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%; /* Biru sangat gelap */
    --foreground: 210 40% 98%;
  }
}

body {
  background-color: #0f172a;
  color: white;
}